.navbar-logo {
    height: 24.75px;
    flex-shrink: 0;
}

.headerText {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    padding-top: 47px;
}

.homeHeader {
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding-left: 400px;
    padding-bottom: 46px;

    padding-right: 443px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

header {
    width: 100%;
    /* margin-bottom: 100px;*/
}

.container {
    margin-top: 100px;
}

.row {
    margin-bottom: 50px;

}

.coverImage {
    background-image: url('../images/cover.png');
    background-size: 100%;
}

footer {
    margin-top: 100px;
}


.InfoBook {
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-section {
    color: black;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 26px;
}

.nameHeading {
    color: black;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
}

.paragraphHeading {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 36px;
    padding-left: 10px;
}

.socialmediaIcons {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
    /*text-align: left;*/
    gap: 30px;
}

.favoriteHeader {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
nav a:hover{
    color:purple !important;
}

@media (max-width: 900px) {

    h1,
    h3,
    header
    {
        font-size: 16px;
        line-height: 20px;
        padding-right: 0px;
        padding-left: 0px;
    }

    footer > p {
        text-align: center;
    }

    .nameHeading {
        font-size: 44px;
        text-align: center;
        padding-top: 30px;

    }

    .paragraphHeading {
        text-align: center;
        padding-bottom: 15px;
    }
    .homeHeader{
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        padding-right: 0;
        padding-left: 0;
    }
}